apiVersion: v1
kind: Pod
metadata:
  name: victim-db
  namespace: default
  labels:
    app: sensitive-data
spec:
  containers:
  - name: db
    image: python:3.9-slim
    command: ["/bin/sh", "-c"]
    args: ["echo 'CTF{N0D3_PR0Xy}' > /root/flag && echo 'Flag Created' && python3 -m http.server 3306"]
    ports:
    - containerPort: 3306
      name: http
